/* Winget structure. */
.ief-entity-table .inline-entity-form-widget-widget_preview {
    width: 50%;
    padding: 50px 20px;
}

.ief-entity-table .inline-entity-form-widget-widget_preview img {
    max-width: 100%;
    height: auto;
}

/* Widget buttons styles. */
.ief-widget-table .button {
    color: #fff;
    min-width: 100px;
    margin: .2em 1em .2em 0;
}

.ief-widget-table .button:first-child {
    margin-right: 1em;
}

.ief-widget-table .button:last-child {
    margin-right: 1em;
}

/* Used the bootstrap colors to styles buttons. */
.ief-widget-fieldset .button.form-submit.ief-widget-add-existing {
    background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
}

.ief-widget-fieldset .button.form-submit.ief-widget-add,
.ief-widget-fieldset .ief-form .button[id*="edit"] {
    background: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}

.ief-widget-fieldset .button.form-submit.ief-widget-add,
.ief-widget-fieldset .button.form-submit.ief-widget-add-existing,
.ief-widget-fieldset .ief-form .button[id*="edit"],
.ief-widget-fieldset .ief-form .button[id*="cancel"] {
    border-radius: 0;
    background-image: none;
    text-shadow: none;
    transition: all, 0.2s;
}

.ief-widget-fieldset .button.form-submit.ief-widget-add:hover,
.ief-widget-fieldset .button.form-submit.ief-widget-add:focus {
    background: #286090;
    border-color: #204d74;
}

.ief-widget-fieldset .button.form-submit.ief-widget-add-existing:hover,
.ief-widget-fieldset .button.form-submit.ief-widget-add-existing:focus {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}

.ief-widget-fieldset .button.form-submit[data-drupal-selector="edit-field-widgets-actions-ief-add"],
.ief-widget-fieldset .ief-form .button[id*="edit"],
.ief-widget-fieldset .ief-widget-table .button[id*="edit"] {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.ief-widget-fieldset .button.form-submit[data-drupal-selector="edit-field-widgets-actions-ief-add"]:focus,
.ief-widget-fieldset .ief-form .button[id*="edit"]:focus,
.ief-widget-table .button[id*="edit"]:focus,
.ief-widget-fieldset .button.form-submit[data-drupal-selector="edit-field-widgets-actions-ief-add"]:hover,
.ief-widget-fieldset .ief-form .button[id*="edit"]:hover,
.ief-widget-table .button[id*="edit"]:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.ief-widget-table .button[id*="cancel"],
.ief-widget-fieldset .ief-form .button[id*="cancel"],
.ief-widget-table .button[id*="remove"] {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.ief-widget-fieldset .ief-form .button[id*="cancel"]:focus,
.ief-widget-fieldset .ief-form .button[id*="cancel"]:focus,
.ief-widget-fieldset .ief-form .button[id*="remove"]:focus,
.ief-widget-fieldset .ief-form .button[id*="cancel"]:hover,
.ief-widget-fieldset .ief-form .button[id*="cancel"]:hover,
.ief-widget-fieldset .ief-form .button[id*="remove"]:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

/* General theme buttons. */
.ief-widget-fieldset .button#edit-delete {
    display: inline-block;
    padding: 5px 1.5em;
}

.ief-widget-fieldset .button.form-submit[id*="remove-button"],
.ief-widget-fieldset .button#edit-delete {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.ief-widget-fieldset .button.form-submit[id*="remove-button"]:focus,
.ief-widget-fieldset .button#edit-delete:focus,
.ief-widget-fieldset .button.form-submit[id*="remove-button"]:hover,
.ief-widget-fieldset .button#edit-delete:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.ief-widget-fieldset .button.form-submit.ief-widget-add:disabled,
.ief-widget-fieldset .button.form-submit.ief-widget-add-existing:disabled,
.ief-widget-fieldset .ief-form .button[id*="edit"]:disabled,
.ief-widget-fieldset .ief-form .button[id*="cancel"]:disabled,
.ief-widget-fieldset .button.form-submit[id*="remove-button"]:disabled,
.ief-widget-fieldset .ief-form .button[id*="remove"]:disabled {
    font-weight: bold;
}

/* Fix widget buttons indents. */
@media all and (max-width: 1023px) {
    div[data-drupal-selector="edit-field-widgets-actions"] .form-select,
    div[data-drupal-selector="edit-field-widgets-actions"] .button {
        margin-bottom: 10px;
    }

    div[data-drupal-selector="edit-field-widgets-actions"] .button + .button {
        margin-left: 0;
    }
}

/* Change layout. */
.layout-region-node-main {
    width: 100%;
    float: none;
    padding-right: 0;
}

.layout-region-node-secondary {
    float: none;
    margin-top: 2em;
    width: 100%;
}

.layout-region-node-secondary .form-type-textfield {
    max-width: 50%;
    min-width: 240px;
}

/* set widget preview scroll*/
.field--name-widget-preview {
   max-height: 250px;
   overflow-y: auto;
}
