{#
/**
 * @file widget--widget-form.html.twig
 * Default theme implementation to present Widget data.
 *
 * This template is used when viewing Widget pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_widget()
 *
 * @ingroup themeable
 */
#}

{% apply spaceless %}
  <article{{ attributes.addClass('widget widget-screenshot') }}>
    {% if image_preview|render %}
      <div class="widget-preview-placeholder widget-preview-img-{{ id }}" data-id="{{ id }}">
        {{ image_preview }}
      </div>
    {% else %}
      <div class="widget-preview-placeholder widget-preview-img widget-preview-img-{{ id }}" data-id="{{ id }}"></div>
    {% endif %}
  </article>
{% endapply %}
