input.tab {
    display: none;
}

#edit-field-widgets-entity-browser-entity-browser-open-modal {
    margin-left: 0;
    margin-bottom: 8px;
}

.widgets-list-wrapper .eb-secondary-controls {
    margin-top: 10px
}

/* Used the bootstrap colors to styles buttons. */
.widgets-list-wrapper .button[id*="edit"],
.widgets-list-wrapper .eb-secondary-controls .button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    -webkit-transition: color .2s ease, background-color .2s ease;
}

.widgets-list-wrapper .button[id*="edit"],
.widget-w-image-edit-form .button[id*="remove"],
.widgets-list-wrapper .button[id*="cancel"],
.widgets-list-wrapper .eb-secondary-controls .button {
    border-radius: 0;
    background-image: none;
    text-shadow: none;
    transition: all, 0.2s;
}

.widgets-list-wrapper .button[id*="edit"]:disabled,
.widget-w-image-edit-form .button[id*="remove"]:disabled,
.widgets-list-wrapper .button[id*="cancel"]:disabled {
    font-weight: bold;
}

.widgets-list-wrapper .button[id*="edit"]:focus,
.widgets-list-wrapper .button[id*="edit"]:hover,
.widgets-list-wrapper .eb-secondary-controls .button:focus,
.widgets-list-wrapper .eb-secondary-controls .button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.widget-w-image-edit-form .button[id*="remove"],
.widgets-list-wrapper .button[id*="remove"],
.widgets-list-wrapper .button[id*="cancel"] {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    -webkit-transition: color .2s ease, background-color .2s ease;
}

.widget-w-image-edit-form .button[id*="remove"]:focus,
.widgets-list-wrapper .button[id*="remove"]:focus,
.widgets-list-wrapper .button[id*="cancel"]:focus,
.widget-w-image-edit-form .button[id*="remove"]:hover,
.widgets-list-wrapper .button[id*="remove"]:hover,
.widgets-list-wrapper .button[id*="cancel"]:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

/* Winget structure. */
.widgets-list-wrapper .rendered-entity::before {
    content: "";
    display: block;
    background: url(../images/787878/move.svg) no-repeat center center;
    height: 22px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: 13px;
    width: 22px;
}

.widgets-list-wrapper .entities-list .rendered-entity:hover::before,
.widgets-list-wrapper .entities-list .rendered-entity:focus::before {
    background-image: url(../images/000000/move.svg);
}

.widgets-list-wrapper .widget-screenshot {
    width: 70%;
    display: inline-block;
    vertical-align: middle;
}

.widgets-list-wrapper .widget-screenshot img {
    max-width: 100%;
    height: auto;
}

.widgets-list-wrapper .widget-preview-placeholder {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.widgets-list-wrapper .widget-actions {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

.widgets-list-wrapper .entities-list .rendered-entity {
    display: block;
    padding: 35px 0 35px 60px;
    margin: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    position: relative;
    transition: background-color .2s ease;
}

.widgets-list-wrapper .entities-list .rendered-entity:hover {
    background: #f7fcff;
    opacity: 1;
}

.eb-tabs:after,
.widgets-list-wrapper .entities-list .rendered-entity:after {
    content: "";
    clear: both;
    width: 100%;
    display: block;
    font-size: 0;
}

/* Widget buttons styles. */
.widgets-list-wrapper .entities-list .rendered-entity .button {
    color: #fff;
    min-width: 100px;
    margin: .2em 1em .2em 0;
    display: inline-block;
    vertical-align: middle;
}

.widgets-list-wrapper .button:first-child {
    margin-right: 1em;
}

.widgets-list-wrapper .button:last-child {
    margin-right: 1em;
}

@media all and (max-width: 767px) {
    .widgets-list-wrapper .entities-list .rendered-entity .button,
    .widgets-list-wrapper .widget-actions,
    .widgets-list-wrapper .widget-screenshot,
    .widgets-list-wrapper .widget-preview-placeholder {
        width: 100%;
        display: block;
    }

    .widget-actions .button {
        margin-bottom: 7px;
    }
}

/* Change layout. */
.layout-region-node-main {
    width: 100%;
    float: none;
    padding-right: 0;
}

.layout-region-node-secondary {
    float: none;
    margin-top: 2em;
    width: 100%;
}

.layout-region-node-secondary .form-type-textfield {
    max-width: 50%;
    min-width: 240px;
}

/* Overlay tabs. */
.eb-tabs {
    margin: 20px 0 22px;
    border-bottom: 1px solid #286090;
}

.eb-tabs ul {
    padding-left: 0;
    margin-left: 0;
}

.eb-tabs li {
    float: left;
    list-style-type: none;
}

.eb-tabs li:first-child {
    margin-left: 0;
}

.eb-tabs a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    position: relative;
    display: block;
    padding: 10px 15px;
    transition: color .2s ease, background-color .2s ease;
    -webkit-transition: color .2s ease, background-color .2s ease;
}

.eb-tabs a:hover {
    color: #fff;
    background-color: #337ab7;
}

.eb-tabs .active {
    color: #fff;
    background-color: #286090;
    transition: color .2s ease, background-color .2s ease;
    -webkit-transition: color .2s ease, background-color .2s ease;
}

.eb-tabs .active:hover {
    text-decoration: none;
}

/* Add widget list. */
.add-options-list {
    margin: 0;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.add-options-list li {
    width: 23%;
    display: block;
    float: left;
    list-style-type: none;
    margin-bottom: 2.5%;
    text-align: left;
}

.add-options-list .tab-create {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #4D4E54;
    letter-spacing: 0;
    text-decoration: none;
}

.add-options-list .tab-create::before {
    content: "";
    display: block;
    height: 100px;
    background: #FAFAFA none center center no-repeat;
    padding: 20px;
    color: black;
    margin-bottom: 10px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .14);
}

.add-options-list .tab-create:hover::before {
    background-color: #ffffff;
}

.tab-create.w-social::before {
    background-image: url("../images/icon-social.svg");
}

.tab-create.w-video::before {
    background-image: url("../images/icon-video.svg");
}

.tab-create.w-slideshow::before {
    background-image: url("../images/icon-slideshow.svg");
}

.tab-create.w-article-push::before {
    background-image: url("../images/icon-articles.svg");
}

.tab-create.w-faq::before {
    background-image: url("../images/icon-faq.svg");
}

.tab-create.w-farmer-contact::before {
    background-image: url("../images/icon-contact.svg");
}

.tab-create.w-image::before {
    background-image: url("../images/icon-image.svg");
}

.tab-create.w-image-text::before {
    background-image: url("../images/icon-image.svg");
}

.tab-create.w-map::before {
    background-image: url("../images/icon-map.svg");
}

.tab-create.w-map::before {
    background-image: url("../images/icon-map.svg");
}

.tab-create.w-multi-gallery::before {
    background-image: url("../images/icon-gallery.svg");
}

.tab-create.w-news-push::before {
    background-image: url("../images/icon-news.svg");
}

.tab-create.w-paragraph::before {
    background-image: url("../images/icon-paragraph.svg");
}

@media all and (max-width: 767px) {
    .add-options-list {
        display: block;
    }

    .add-options-list li {
        width: 100%;
        float: none;
        margin-bottom: 10px;
        text-align: left;
    }

    .add-options-list .tab-create::before {
        background-size: contain;
    }
}

/* set widget preview scroll*/
.field--name-widget-preview {
    max-height: 250px;
    max-width: 600px;
    overflow-y: auto;
}
